# --- PYTHON SYSTEM FILES ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- VIRTUAL ENVIRONMENT ---
.venv/
venv/
ENV/
env/

# --- DATABASE / MEMORY LOKAL ---
*.db
*.sqlite3
database/*.db

# --- CONFIGURATION & SECRETS ---
.env
config/secrets.json

# --- OPERATING SYSTEM ---
# File sampah bawaan Windows dan Mac
Thumbs.db
Desktop.ini
.DS_Store

# --- IDE / TEXT EDITOR ---
.vscode/
.idea/